@import 'tailwindcss';
@import 'tw-animate-css';

@layer utilities {
    @keyframes wave-pause {
        0% {
            height: 0px;
        }
        35% {
            height: var(--target-height);
        }
        70% {
            height: 0px;
        }
        100% {
            height: 0px;
        }
    }

    .animate-wave {
        animation: wave-pause 2s ease-in-out infinite;
    }
}
